<p id="notice"><%= notice %></p>

<h1>Listing Mobilities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Rank</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mobilities.each do |mobility| %>
      <tr>
        <td><%= mobility.name %></td>
        <td><%= mobility.rank %></td>
        <td><%= link_to 'Show', mobility %></td>
        <td><%= link_to 'Edit', edit_mobility_path(mobility) %></td>
        <td><%= link_to 'Destroy', mobility, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mobility', new_mobility_path %>
