<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @category.rank %>
</p>

<p>
  <strong>Logo url:</strong>
  <%= @category.logo_url %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
